<div class="container no-vpadding">
    <div class="sign mainbox col-md-6 col-md-offset-3 no-vpadding">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><%= _('Create a new account') %></div>
            </div>
            <div class="panel-body">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {role: 'form'}) do |f| %>
                <%= devise_error_messages! %>

                <div class="form-group">
                    <%= f.label :email, _('Your email address') %>
                    <%= f.email_field :email, class: 'form-control', autofocus: true %>
                </div>

                <div class="form-group">
                    <%= f.label :password, _('Create your password') %>
                    <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
                </div>

                <div class="form-group">
                    <%= f.label :password_confirmation, _('Confirm your password') %>
                    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off' %>
                </div>

                <button class="btn btn-primary btn-block" type="submit"><%= _('Sign Up')  %></button>
                <!--or
                  <button id="btn-fbsignup" type="button" class="btn btn-primary">Sign Up with Facebook</button>-->
                <% end %>
            </div>
        </div>
        <p class="help-block center"><small><%= _('Do you already have an account?') %> <%= link_to _('Sign in now!'), new_user_session_path %></small></p>
    </div>
</div>
